.auth__button-submit {
  margin-top: 216px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
}

.auth__button-submit:hover {
  cursor: pointer;
  opacity: 0.85;
}
