.infoTooltip{
  top: -355px;
}

.infoTooltip__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoTooltip__image {
  margin-top: 26px;
  width: 120px;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.infoTooltip__title {
  margin: 32px 0 60px 0;
  line-height: 29px;
}